<ion-view view-title="Chats">
  <ion-content>

    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
    
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->
    <div class="row chanl-box channel-wrapper row-wrap">
      <div class="col col-33"><a href="javascript:;" class="channel-item">
              <div class="channel-icon bili-icon-live">
              </div>
              <p class="channel-name">直播</p>
      </a></div>
      <div class="col col-33"><a href="javascript:;">
         <div class="channel-icon bili-icon-bangumi channel-c13">
                    <span class="channel-num">20</span></div>
                    <p class="channel-name">番剧</p>
      </a></div>
      <div class="col col-33"><a href="javascript:;">
        <div class="channel-icon bili-icon-douga channel-c1">
                    <span class="channel-num">99+</span></div>
        <p class="channel-name">动画</p>
      </a></div>
      <div class="col col-33"><a href="javascript:;">
         <div class="channel-icon bili-icon-music channel-c3">
                    <span class="channel-num">99+</span></div>
                    <p class="channel-name">音乐</p>
      </a></div>
      <div class="col col-33"><a href="javascript:;">
          <div class="channel-icon bili-icon-dance channel-c129">
                    <span class="channel-num">43</span></div>
                    <p class="channel-name">舞蹈</p>
      </a></div>
      <div class="col col-33"><a href="javascript:;">
          <div class="channel-icon bili-icon-game channel-c4">
                    <span class="channel-num">99+</span></div>
                    <p class="channel-name">游戏</p>
      </a></div>
      <div class="col col-33"><a href="javascript:;">
           <div class="channel-icon bili-icon-tech channel-c36">
                    <span class="channel-num">99+</span></div>
                    <p class="channel-name">科技</p>
      </a></div>
      <div class="col col-33"><a href="javascript:;">
          <div class="channel-icon bili-icon-life channel-c160">
                    <span class="channel-num">99+</span></div>
                    <p class="channel-name">生活</p>
      </a></div>
      <div class="col col-33"><a href="javascript:;">
          <div class="channel-icon bili-icon-kichiku channel-c119">
                    <span class="channel-num">26</span></div>
                    <p class="channel-name">鬼畜</p>
      </a></div>
    </div>
  </ion-content>
</ion-view>
